@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mixed Tech Sample</h1>
    <p class="lead">This is a demo app to test the interaction of various tech stacks.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>
            The following are the technologies that I plan to have interact:
            <ul>
                <li><a href="~/Home/AngularDemo">angular</a></li>
                <li><a href="~/Home/D3Demo">d3</a></li>
                <li><a href="~/Home/SignalRDemo">signalr</a></li>
                <li><a href="~/Home/RedisDemo">redis</a></li>
                <li>mongodb</li>
                <li>nancy</li>
                <li>t4mvc</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>